
	.loginBox
{
	margin-top:23%;
	margin-left:29%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	padding: 80px 40px;
	box-sizing: border-box;
	height: 420px;
	background: rgba(0,0,0,.6);
}
.user 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 20px;
	color: #efed40;
	text-align: center;
}
.loginBox p
{
	margin:0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	float:left;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 10px;
	
	
}
.loginBox input[type="text"],
.loginBox input[type="Password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	height: 40px;
	background: transparent;
	color: #fff;
	font-size: 16px;
	
}
.close
{
	margin-top:-30%;
	margin-right:-11%;
	color:white;
}

.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #093F9A;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	
}
button.accordion {
    background-color: #D9E8FF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
 width:100%;
 display:block;
	}

button.accordion.active, button.accordion:hover {
    background-color: #FBBC33; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
	width:100%;
 
}

input::placeholder{
	
}